<h1 class="text-4xl font-extrabold dark:text-white mb-4">Editar usuário</h1>

<div class="bg-white p-6 rounded-lg shadow-md">
  <%= render "form", user: @user %>
</div>

<br>

<div class="mt-4">
  <%= link_to "Visualizar este usuário", @user, class: "text-blue-700 hover:text-blue-800 font-medium mr-4" %> |
  <%= link_to "Voltar", users_path, class: "text-blue-700 hover:text-blue-800 font-medium" %>
</div>
